.page_container
  width: 100%
  justify-content: center
  align-items: center
  display: flex

.content_container
  background-color: white
  padding: 15px
  border: 1px solid lightgray
  border-radius: 10px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  box-shadow: 2px 2px 2px 1px lightgray