*
  box-sizing: border-box

.container
  min-height: 40vh
  width: 100%


.main_image
  height: 40vh
  width: 100%
  object-fit: cover
  opacity: 80%
  position: absolute


h4
  color: #000B26
  margin: 0
