.user_info_wrapper
  width: fit-content
  background-color: white
  padding: 50px
  border: 1px solid lightgray
  border-radius: 10px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  box-shadow: 2px 2px 2px 1px lightgray

.user_info
  display: flex
  flex-direction: column